.reveal h2 img {
    height: 1em;
    margin-right: 0.1em;
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 0px;
}

.btn {
  background: #30bf30;
  background-image: -webkit-linear-gradient(top, #30bf30, #269926);
  background-image: -moz-linear-gradient(top, #30bf30, #269926);
  background-image: -ms-linear-gradient(top, #30bf30, #269926);
  background-image: -o-linear-gradient(top, #30bf30, #269926);
  background-image: linear-gradient(to bottom, #30bf30, #269926);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Ubuntu, "sans-serif";
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #34d934;
  background-image: -webkit-linear-gradient(top, #34d934, #2db32d);
  background-image: -moz-linear-gradient(top, #34d934, #2db32d);
  background-image: -ms-linear-gradient(top, #34d934, #2db32d);
  background-image: -o-linear-gradient(top, #34d934, #2db32d);
  background-image: linear-gradient(to bottom, #34d934, #2db32d);
  text-decoration: none;
}
