.reveal h2 img {
    height: 1em;
    margin-right: 0.1em;
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 0px;
}

.btn {
  background: #30bf30;
  background-image: -webkit-linear-gradient(top, #30bf30, #269926);
  background-image: -moz-linear-gradient(top, #30bf30, #269926);
  background-image: -ms-linear-gradient(top, #30bf30, #269926);
  background-image: -o-linear-gradient(top, #30bf30, #269926);
  background-image: linear-gradient(to bottom, #30bf30, #269926);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Ubuntu, "sans-serif";
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #34d934;
  background-image: -webkit-linear-gradient(top, #34d934, #2db32d);
  background-image: -moz-linear-gradient(top, #34d934, #2db32d);
  background-image: -ms-linear-gradient(top, #34d934, #2db32d);
  background-image: -o-linear-gradient(top, #34d934, #2db32d);
  background-image: linear-gradient(to bottom, #34d934, #2db32d);
  text-decoration: none;
}

.ball {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: -webkit-radial-gradient(10px 10px, circle cover, hsla(125, 60%, 50%, 1), hsla(125, 70%, 15%, 1));
    background-image: radial-gradient(at 10px 10px, hsla(125, 60%, 50%, 1) 0%, hsla(125, 70%, 15%, 1) 100%);
}

.domain {
    /*background-color: green;*/
    margin-left: 230px !important;
    border-bottom-width: 20px;
    border-bottom-color: white;
    border-bottom-style: solid;
    width: 500px;
    height: 475px;
}
